/* RESET ITEMS */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0; padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }

body {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.container {
    height: 100vh;
    padding: 2rem;
    max-width: 90%;
    margin: inherit;
    background-color: darksalmon;
}

h1 {
  color: blue
}

footer {
  margin: inherit;
  max-width: 90%;
  text-align: center;
  padding: 1rem;
  background-color: aquamarine;
}