* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body {
  display: grid;
  align-items: center;
  max-height: 900px;
  padding: 4rem 0;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  }

.container {
  place-self: center;
  display: flex;
  justify-content: space-around;
  background: darkslateblue;
  max-width: 900px;
  min-width: 500px;
  max-height: 900px;
  min-height: 600px;
  border-radius: 2rem;
  padding: 0 1.5rem;
}

.column {
  margin: auto;
}

.score {
  background: #111;
  font-size: 80px;
  color: goldenrod;
  padding: 1rem 2rem;
  margin: 2rem;
  border-radius: 1rem;
}

h1 {
  font-size: 2.75rem;
  text-transform: uppercase;
  color: #111;
}
h3 {
  font-size: 2rem;
}

button {
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.5rem;
  transition: ease-in-out all 0.4s;
  transform: scale(1);
}

button:hover {
  cursor: pointer;
  background-color: bisque;
  transform: scale(1.1);
}

.reset {
  align-self: flex-start;
  margin-top: 1rem;
}